/* список товаров */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* карточка товара */
.product {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  /* margin-bottom: 10px; */
}

.product__title {
  margin-top: 0;
  font-size: 22px;
}

.product__price {
  font-size: 18px;
  padding-bottom: 15px;
}

.product-card__img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product__add-basket {
  margin-top: auto;
}


